.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  padding: 2.5rem 2.5rem;
  background-color: #F2EAD3;
  font-size: 30rem;
  /* color: white; */
}

.text-body {
  text-align: justify;
  padding-right: 25px;
}

.card {
  margin-top: 1rem;
  border-radius: 50px;
}

.columns {
  font-size: 17.5px !important;
}

.image {

  display: flex;
  padding: 0.5rem 0.5rem;
  justify-content: center;
}

.header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: top; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
  border-radius: 50px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}