body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, sans-serif,
    monospace;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}